<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title>投稿詳細</title>
</head>

<body>
	<div class="container">
		<div class="row">
				<h2 class="offset-md-2">投稿詳細</h2>
			<div class="col-md-8 offset-md-2 text-center">
				<!-- 画像が存在する場合 -->
				<span th:if="${post.imagePath != ''}">
					<img th:src="@{${post.imagePath}}" alt="Example Image" class="img-fluid" style="max-width: auto; height: auto;">
				</span>
				<!-- 画像が存在しない場合 -->
				<span th:unless="${post.imagePath != ''}">
					<img th:src="@{/uploads/profile_default.jpg}" alt="Example Image" class="img-fluid" style="max-width: auto; height: auto;">
					<p>No image available</p>
				</span>
			</div>
			<div class="col-md-8 offset-md-2">
				<table class="table table-bordered">
					<tr>
						<th class="table-dark">ID</th>
						<td th:text="${post.id}"></td>
					</tr>
					<tr>
						<th class="table-dark">タイトル</th>
						<td th:text="${post.title}"></td>
					</tr>
					<tr>
						<th class="table-dark">詳細</th>
						<td th:text="${post.description}"></td>
					</tr>
					<tr>
						<th class="table-dark">登録日時</thclass="table-dark">
						<td th:text="${post.createdAt.format(
											T(java.time.format.DateTimeFormatter).
											ofPattern('yyyy/MM/dd HH:mm:ss'))}">
						</td>
					</tr>
					<tr>
						<th class="table-dark">更新日時</th>
						<td th:text="${post.updatedAt.format(
										T(java.time.format.DateTimeFormatter).
										ofPattern('yyyy/MM/dd HH:mm:ss'))}">
						</td>
					</tr>
					<tr>
						<th class="table-dark"></th>
						<td class="d-flex">
							<a th:href="@{/posts/edit/{id}(id=${post.id})}" class="btn btn-outline-dark mx-2">編集</a>
							<form th:action="@{/posts/delete/{id}(id=${post.id})}" method="post">
								<input type="submit" value="削除" class="btn btn-outline-danger" />
							</form>
						</td>
					</tr>
				</table>
				<a th:href="@{/posts}" style="color: gray;">投稿一覧へ</a>
			</div>
		</div>
	</div>
</body>

</html>