<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title>投稿詳細</title>
</head>

<body>
	<div id="header" th:insert="common::header"></div>
	<div class="container mb-2" style="min-height: 600px;">
		<div class="row">
			<h2 class="offset-md-2 mt-3">投稿詳細</h2>
			<div class="col-md-8 offset-md-2 text-center mb-2">
				<!-- 画像が存在する場合 -->
				<span th:if="${post.imagePath != null and post.imagePath != ''}">
					<img th:src="@{${post.imagePath}}" alt="Example Image" class="img-fluid mb-2"
						style="max-width: auto; height: 150px;">
				</span>
				<!-- 画像が存在しない場合 -->
				<span th:unless="${post.imagePath != null and post.imagePath != ''}">
					<img th:src="@{/uploads/default_img/book_default.png}" alt="Example Image" class="img-fluid"
						style="max-width: auto; height: 150px;">
					<p>No book image</p>
				</span>
			</div>
			<div class="col-md-8 offset-md-2">
				<table class="table table-bordered">
					<tr>
						<th class="table-dark">ID</th>
						<td th:text="${post.id}"></td>
					</tr>
					<tr>
						<th class="table-dark">タイトル</th>
						<td th:text="${post.title}"></td>
					</tr>
					<tr>
						<th class="table-dark">詳細</th>
						<td th:text="${post.description}"></td>
					</tr>
					<tr>
						<th class="table-dark">投稿者</th>
						<td th:text="${post.username}"></td>
					</tr>
					<tr>
						<th class="table-dark">登録日時</thclass="table-dark">
						<td th:text="${post.createdAt.format(
											T(java.time.format.DateTimeFormatter).
											ofPattern('yyyy/MM/dd HH:mm:ss'))}">
						</td>
					</tr>
					<tr>
						<th class="table-dark">更新日時</th>
						<td th:text="${post.updatedAt.format(
										T(java.time.format.DateTimeFormatter).
										ofPattern('yyyy/MM/dd HH:mm:ss'))}">
						</td>
					</tr>
					<tr>
						<th class="table-dark"></th>
						<td class="d-flex">
							<!-- 投稿のユーザーとログインユーザーが同じなら編集ボタンを表示 -->
							<a th:if="${post.userId == currentUserId}" th:href="@{/posts/edit/{id}(id=${post.id})}" class="btn btn-outline-dark mx-2">編集</a>
							<!-- 投稿のユーザーとログインユーザーが同じなら削除ボタンを表示 -->
							<form th:if="${post.userId == currentUserId}" th:action="@{/posts/delete/{id}(id=${post.id})}" method="post" onsubmit="return confirmDelete()";>
								<input type="submit" value="削除" class="btn btn-outline-danger" />
							</form>
							<a th:href="@{/posts}" class="btn btn-outline-secondary mx-2">一覧へ戻る</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div id="footer" th:insert="common::footer"></div>
</body>
<script>
    function confirmDelete() {
        return confirm("投稿を本当に削除してもいいですか？");
    }
</script>

</html>