<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title>投稿フォーム</title>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<!-- タイトル：登録 or 編集 -->
				<h2 th:if="${postForm.isNew}">新規投稿</h2>
				<h2 th:unless="${postForm.isNew}">投稿編集</h2>
				<!-- アクション：登録 or 編集 -->
				<form th:action="${postForm.isNew} ? @{/posts/save} : @{/posts/update}" th:object="${postForm}"
					method="post" enctype="multipart/form-data">
					<!-- idは更新時に必要なため、hiddenで持つ -->
					<input type="hidden" th:field="*{id}">

					<div class="my-3">
						<label for="titleinput" class="form-label">タイトル</label>
						<input type="text" th:field="*{title}" class="form-control" id="titleInput"
							placeholder="タイトルを入力">
						<!-- タイトル：バリデーションエラー表示 -->
						<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red;">
							エラーがあれば表示
						</span>
					</div>
					<div class="my-3">
						<label for="textArea" class="form-label">詳細</label>
						<textarea rows="3" cols="30" type="text" th:field="*{description}" class="form-control"
							id="textAreaInput" placeholder="詳細を入力">
				  		</textarea>
					</div>
					<div class="my-3">
						<label for="file" class="form-label">画像</label>
						<input type="file" class="form-control" id="file" name="file">
						<!-- 画像の表示 -->
						<div>
							<img th:if="${postForm.imagePath != null}" th:src="@{${postForm.imagePath}}" alt="Current Image" class="img-thumbnail w-25 mt-1">
							<img th:unless="${postForm.imagePath != null}" th:src="@{/uploads/profile_default.jpg}" alt="Default Image" class="img-thumbnail w-25 mt-1">
						</div>
					</div>

					<div class="mt-4">
						<!-- ボタン：登録 or 編集 -->
						<input th:if="${postForm.isNew}" type="submit" value="保存" class="btn btn-outline-dark">
						<input th:unless="${postForm.isNew}" type="submit" value="更新" class="btn btn-outline-dark">
					</div>
				</form>
			</div>
			<div class="col-md-2 offset-md-2 my-5">
				<a th:href="@{/posts}" style="color: gray;">戻る</a>
			</div>
		</div>
	</div>
</body>

</html>