<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title>User情報</title>
</head>

<body>
	<div id="header" th:insert="common::header"></div>
	<div class="container mb-2" style="min-height: 600px;">
		<div class="row">
			<h2 class="offset-md-2 mt-3">ユーザー情報</h2>
			<div class="col-md-8 offset-md-2 text-center">
				<div class="col-md-8 offset-md-2 text-center">
					<!-- 画像が存在する場合 -->
					<span th:if="${userInfo.imagePath != null and userInfo.imagePath != ''}">
						<img th:src="@{${userInfo.imagePath}}" alt="User Image" class="img-fluid mb-2"
							style="max-width: auto; height: 150px;">
					</span>
					<!-- 画像が存在しない場合 -->
					<span th:unless="${userInfo.imagePath != null and userInfo.imagePath != ''}">
						<img th:src="@{/uploads/profile_default.jpg}" alt="Example Image" class="img-fluid"
							style="max-width: auto; height: 150px;">
						<p>No image available</p>
					</span>
				</div>
				<table class="table table-bordered my-5">
					<tr>
						<th class="table-dark">ユーザーID</th>
						<td th:text="${userInfo.id}"></td>
					</tr>
					<tr>
						<th class="table-dark">ユーザー名</th>
						<td th:text="${userInfo.username}"></td>
					</tr>
					<tr>
						<th class="table-dark">メールアドレス</th>
						<td th:text="${userInfo.email}"></td>
					</tr>
					<tr>
						<th class="table-dark"></th>
						<!-- 投稿のユーザーとログインユーザーが同じなら編集ボタンを表示 -->
						<td><a th:href="@{/user/edit/{id}(id=${userInfo.id})}" class="btn btn-outline-dark mx-2">編集</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div id="footer" th:insert="common::footer"></div>
</body>

</html>