<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title>新規登録画面</title>
</head>

<body>
	<div id="header" th:insert="common::header"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 my-5">
				<h2>新規登録画面</h2>
				<!-- エラーメッセージの表示 -->
				<div th:if="${errorMessage}" style="color: red;">
					<p th:text="${errorMessage}"></p>
				</div>
				<form th:action="@{/register}" th:object="${registerForm}" method="post">
					<div class="my-3">
						<label for="username" class="form-label">名前</label>
						<input type="text" th:field="*{username}" class="form-control" id="username" name="username"
							placeholder="ユーザー名を入力">
						<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red;">
							エラーがあれば表示
						</span>
					</div>
					<div class="my-3">
						<label for="password" class="form-label">パスワード</label>
						<input type="password" th:field="*{password}" class="form-control" id="password" name="password"
							placeholder="パスワードを入力">
						<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;">
							エラーがあれば表示
						</span>
					</div>
					<div class="my-3">
						<label for="confirm_password" class="form-label">確認用パスワード</label>
						<input type="password" th:field="*{confirmPassword}" class="form-control" id="confirmPassword" name="confirmPassword"
							placeholder="確認用パスワードを入力">
						<span th:if="${#fields.hasErrors('samePassword')}" th:errors="*{samePassword}" style="color: red;">
							エラーがあれば表示
						</span>
					</div>
					<div class="my-3">
						<label for="email" class="form-label">メールアドレス</label>
						<input type="text" th:field="*{email}" class="form-control" id="email" name="email"
							placeholder="e-mailアドレスを入力">
						<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;">
							エラーがあれば表示
						</span>
					</div>
					<div class="my-3">
						<input type="submit" value="Register" class="btn btn-outline-dark">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>